.currencyPositive {
  color: $currency-color-positive !important;
}

.currencyNegative {
  color: $currency-color-negative !important;
}

.percentagePositive {
  color: $percentage-color-positive !important;
}

.percentageNegative {
  color: $percentage-color-negative !important;
}