.currency-positive {
  color: $currency-color-positive;
}

.currency-negative {
  color: $currency-color-negative;
}

.percentage-positive {
  color: $percentage-color-positive;
}

.percentage-negative {
  color: $percentage-color-negative;
}