<md-toolbar class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="displayController.toggleLeft()" hide-gt-lg>
        <ng-md-icon icon="menu" style="fill: white"></ng-md-icon>
    </md-button>
    <h2>
        <span>
            {{displayController.page_definition.name}}
        </span>
    </h2>
</md-toolbar>

<md-content layout-padding flex layout-fill>
    <gnucash-report ng-repeat="report in displayController.page_definition.reports"
                    report="report"></gnucash-report>
</md-content>
