$currency-color-positive: darken(#0F0, 30%);
$currency-color-negative: #F00;

$currency-backgroundcolor-positive: LightCyan;
$currency-backgroundcolor-negative: LightCoral;

$percentage-color-positive: darken(#0F0, 30%);
$percentage-color-negative: #F00;
